body{
	color: #975;
	background-color: #000;
}

#map { 
	height: 480px;
}

h1{
	text-align: center;
}

<<<<<<< HEAD
<<<<<<< HEAD
div {
    border: 1px solid red;
}

div{
	border-style: solid;
	border-color: red !important;
	border-width: 2px;
}

||||||| d253318... Ug
div {
    border: 1px solid red;
}

=======
>>>>>>> parent of d253318... Ug
||||||| c4850d3... Added some border boxes
div{
	border-style: solid;
	border-color: red !important;
	border-width: 2px;
}

=======
>>>>>>> parent of c4850d3... Added some border boxes
.footer{
	text-align: center;
}