body{
	color: #975;
	background-color: #000;
}

#map { 
	height: 480px;
}

h1{
	text-align: center;
}

div{
	border-style: solid;
	border-color: red !important;
	border-width: 2px;
}

.footer{
	text-align: center;
}